<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Multiroom Chat</title>
		
		<!-- JQUERY -->
		<script src="js/jquery-2.2.1.js"></script>
		
		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<script src="http://wedgies.github.io/jquery-emoji-picker/js/jquery.emojipicker.js"></script>
		<!-- estilo -->
		<link href="css/style.css" rel="stylesheet">
		
		<script type="text/javascript">
		
			$(document).ready(function(){
				$("#exibe_chat").click(function(){
					$("#conversa").show();
					$("#participantes").hide();
					ocultaNavbar();
				});
				
				$("#exibe_participantes").click(function(){
					$("#participantes").show();
					$("#conversa").hide();
					ocultaNavbar();
				});
			});
			
			function ocultaNavbar(){
				$("#btn_navbar_toggle").attr("class","navbar-toggle collapsed");
				$("#navbar-collapse-1").attr("class","navbar-collapse collapse");
				$("#btn_navbar_toggle").attr("aria-expanded","false");
				$("#navbar-collapse-1").attr("aria-expanded","false");
			}
		</script>
	</head>

	<body>
	
	
		<div class="menu">
            <div class="back"><i class="fa fa-chevron-left"></i> <img src="images/multiroom_chat.png" draggable="false"/></div>
            <div class="name">MultiChat Room</div>
			<div class="last" id="status"></div>
        </div>
    <ol class="chat" id="dialogos">
    
    </ol>
	 <div id="emojiWrapper">
                </div>
    <input class="textarea" type="text" placeholder="Escreva sua mensagem aqui!" id="mensagem"/><div class="emojis" id="emojiTrigger"></div>	
	<input type="hidden" value="<%=dadosForm.apelido%>" id="apelido" >
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

		<script src="/socket.io/socket.io.js"></script>
		<script>
			var socket = io('http://10.30.109.9:3000');
 			
			 initialEmoji();
			 _initApplication();

 			
			 socket.on('connect', function(msg){
        			socket.emit('join', $('#apelido').val());
    		});

      $('#emojiTrigger').click(function(e) {
        e.preventDefault();
		console.log("Entrou");
        var target = e.target;
            if (target.nodeName.toLowerCase() == 'img') {
                var messageInput = document.getElementById('mensagem');
                messageInput.focus();
                messageInput.value = messageInput.value + '[emoji:' + target.title + ']';
            };
      });

			function chatClick(){
				socket.emit(
					'msgParaServidor',
					{ 
						apelido: $('#apelido').val(), 
						mensagem: $('#mensagem').val(),
						apelido_atualizado_nos_clientes : $('#apelido_atualizado_nos_clientes').val()
					}
				);	

				$('#mensagem').val("");
				$('#apelido_atualizado_nos_clientes').val(1);
			};
			
			$('#enviar_mensagem').click(chatClick);

			$('#mensagem').on('keydown', function (event) {
    			if (event.keyCode !== 13) {
					socket.emit("enviado", {
                   		 apelido:  $('#apelido').val()
                	});
					return;
				}
				socket.emit("recebido");
				chatClick();
			});

			socket.on('msgParaCliente', function(data){
				
				var html = '';
 				var time = new Date();
					html += '<li class="'+ data.estilo+'">'
        				html += '<div class="avatar"><img src="images/multiroom_chat.png" draggable="false"/></div>';
							html += '<div class="msg">';
							html += '<strong><p>'+ data.apelido +'</p></strong>';
							html += '<p>'+ _showEmoji(data.mensagem) + '</p>';
							html += '<time>'+ time.getHours() + ':' + time.getMinutes() +'</time>';
      					html += '</div>';
    				html += '</li>';


				$('#dialogos').append(html);
				_notificar(data.apelido, data.estilo);
				window.scrollTo(0, document.body.scrollHeight);
			});

            socket.on("enviado", function (data) {
                $("#status").html(data.apelido + " está escrevendo...");
                setTimeout(function () {
                    $("#status").html('');
                }, 5000);
            });

			socket.on("recebido",function(){
				$("#status").html('');
			});


			function _initApplication(){
				document.getElementById('emojiWrapper').addEventListener('click', function(e) {
					var target = e.target;
					if (target.nodeName.toLowerCase() == 'img') {
						var messageInput = document.getElementById('mensagem');
						messageInput.focus();
						messageInput.value = messageInput.value + '[emoji:' + target.title + ']';
					};
				}, false);
				document.body.addEventListener('click', function(e) {
          			  var emojiwrapper = document.getElementById('emojiWrapper');
            			if (e.target != emojiwrapper) {	
                		emojiwrapper.style.display = 'none';
            	};
        		});
				
			 document.getElementById('emojiTrigger').addEventListener('click', function(e) {
            var emojiwrapper = document.getElementById('emojiWrapper');
            emojiwrapper.style.display = 'block';
            e.stopPropagation();
        }, false);

			}

			function initialEmoji(){
				var emojiContainer = document.getElementById('emojiWrapper'),
				docFragment = document.createDocumentFragment();
				for (var i = 69; i > 0; i--) {
					var emojiItem = document.createElement('img');
					emojiItem.src = '../content/emoji/' + i + '.gif';
					emojiItem.title = i;
					docFragment.appendChild(emojiItem);
				};
				emojiContainer.appendChild(docFragment);
			}

			function _notificar(usuario, permissao) {
				if(permissao !== 'self'){
					Notification.requestPermission(function() {
						var notification = new Notification("MultiChat Room", {
							icon: 'http://i.stack.imgur.com/dmHl0.png',
							body: usuario + " enviou uma mensagem",
							vibrate : true
						});
						notification.onclick = function() {
							notification.close();
							console.log("Notification ", notification);
						}
					});
				}
			}  


			function _showEmoji (msg) {
        		var match, result = msg,
            	reg = /\[emoji:\d+\]/g,
            	emojiIndex,
            	totalEmojiNum = document.getElementById('emojiWrapper').children.length;
        		while (match = reg.exec(msg)) {
            		emojiIndex = match[0].slice(7, -1);
            		if (emojiIndex > totalEmojiNum) {
                		result = result.replace(match[0], '[X]');
            		} else {
                		result = result.replace(match[0], '<img class="emoji" src="../content/emoji/' + emojiIndex + '.gif" />');
            		};
        		};
        		return result;
    		}

		</script>
	</body>
</html>